@media (max-width: 991px){
    .promo{
        padding: 26px 30px 93px 30px;
        &__header{
            font-size: 40px;
        }
        &__subheader{
            font-size: 20px;
            line-height: 20px;
        }
    }
    .consultation{

        .container{
            padding: 0 25px;
        }
    }

}

@media (max-width: 767px){
    .advantages{

        &__wrapper{
            margin-top: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__item{
            margin-top: 65px;
        }
    }
}

@media (max-width: 575px){
    .button{
        margin-top: 20px;
        width: 300px;
        height: 60px;
        font-size: 22px;
    }
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &__official{
            margin-top: 20px;
            font-size: 18px;
            span{
                font-size: 26px;
            }
        }
        &__phone{
            margin-top: 20px;
            font-size: 20px;
        }
        &__contacts{
            align-items:center;
        }
    }
    .promo{
        &__wrapper{
            align-items:center;
        }
        &__header{
            font-size: 25px;
        }
        &__subheader{
            font-size: 15px
        }
        &__icons{
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            width: 200px;
            margin-top: 20px;
            font-size: 20px;
        }
        .button_main{
             font-size: 18px;
        }
    }

    .consultation{
        padding-top: 60px;
        .title_left{
            font-size: 23px;
            text-align: center;
        }
        &__descr{
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
        }

        .feed-form{
            margin: 0 auto;
            margin-top: 25px;

        }

        .button_submit{
            font-size: 20px;
        }


    }
}